<div class="main_body">
    <h1>All your moods!</h1>
    <% @moods.each do |mood| %>
        <p><%= link_to mood.mood_type, mood_path(mood) %> </p>
    <% end %>

    <h1>Add a new mood</h1>
    <%= render partial: 'new', locals: {object: @mood} %>
    
</div>