<div class="main_body">
  <div class="entry_links">
    <%= link_to 'Back to journal', journal_path(@entry.journal) %><br>
  </div>

  <%= render 'errors', entry: @entry%>

<h1>Create a new entry:</h1>
<%= render 'form', entry: @entry%>

</div>