<h1>WELCOME TO LIFETRAK!</h1>
<% if session[:user_id] %>
    <h1>Hello, <%= @user.username %></h1>
    <h2>Email: <%= @user.email %></h2>
<% else %>
    <h2>Please register or login!</h2>
    <%= link_to 'Sign Up', signup_path %>
    <%= link_to 'Log in', login_path %>
<% end %>